@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-family: "Poppins", sans-serif; */
}

body {
  /* width: 100vw;
  height: 100vh; */
  background-color: #57B894;
  display: grid;
  /* place-items: center; */
}

.container{
  width: 770px;
  background-color: white;
  margin: 30px;
  margin-left: 20%;
/*from body*/
  
  place-items: center;
}

.header{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header #month {
  color: #57B894;
  font-size: 30px;
  font-weight: 600;
}

button {
  width: 75px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 3px;
  color: white;
}

.header button {
  background-color: #57B894;
}
.weekdays {
  width: 100%;
  display: flex;
  background-color: #2f3640;
  font-size: 17px;
  color: #fff;
  font-weight: 500;
}

.weekdays div {
  width: 100px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 100px;
  height: 100px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px #cbd4c2;
  color: #65c09e;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #defcf1;
  color: #3d3d3d;
}

#currentDay {
  background-color: #5ed5f6;
  color: #fff;
}

.event {
  font-size: 10px;
  padding: 3px;
  background-color: #78e5bd;
  color: #fff;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;

  /* in event style */
    /* font-size: 10px;
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    max-height: 55px;
    padding: 3px;
    border-radius: 5px;
    overflow: hidden; */

}

.event.holiday {
  background-color: palegreen;
  color: #3d3d3d;
}

.plain {
  cursor: default;
  box-shadow: none;
}

#modal {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 132vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

#addEvent,
#viewEvent {
  display: none;
  width: 350px;
  background-color: #fff;
  padding: 25px;
  position: absolute;
  margin-left: 35%;
  margin-top: 20%;
  z-index: 20;
}

#addEvent h2,
#viewEvent h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

#txtTitle {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #cbd4c2;
  font-size: 16px;
}

#btnSave {
  background-color: #57B894;
}

.btnClose {
  background-color: #2f3542;
}

#viewEvent p {
  margin-bottom: 20px;
}

#btnDelete {
  background-color: #ea2027;
}

.error {
  border-color: #ea2027 !important;
}